<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% if titulo %}
	<title>{{ titulo }} - landingpage</title>
	{% else %}
	<title>Landingpage</title>
	{% endif %}


    <!--
		https://getbootstrap.com/docs/4.6/getting-started/introduction/
	-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/sweetalert2.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/static/js/sweetalert2.min.js"></script>
	<script type="text/javascript" src="/static/js/projeto.js"></script>

	{% block head %}{% endblock %}

</head>
<body>


    #LANDING PAGE AQUI#



</body>
</html>